{% extends "base/base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>USA</h1>
		{% for i in state %}
			{% if i.id < 52 %}
				<a href="{{ url_for('rest.state_page',url_slug_state=i.url_slug_state, state_id=i.id) }}">{{ i.name }}</a><br>
			{% endif %}
		{% endfor %}
		<h1>Canada</h1>
		{% for i in state %}
			{% if i.id > 51 %}
				<a href="{{ url_for('rest.state_page',url_slug_state=i.url_slug_state, state_id=i.id) }}">{{ i.name }}</a><br>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}