{% extends "base/base.html" %}
{% block content %}
<div class="row">
<div class="col-9 offset-2">

<h1>USA</h1>
<div class="row">
	{% for i in state %}
		{% if i.id < 52 %}
		<div class="col-3">
			<a href="{{ url_for('rest.state_page',url_slug_state=i.url_slug_state, state_id=i.id) }}">{{ i.name }}</a>
		</div>
		{% endif %}
	{% endfor %}
</div>
<h1>Canada</h1>
<div class="row">
	{% for i in state %}
		{% if i.id > 51 %}
		<div class="col-3">
			<a href="{{ url_for('rest.state_page',url_slug_state=i.url_slug_state, state_id=i.id) }}">{{ i.name }}</a>
		</div>
		{% endif %}
	{% endfor %}
</div>		
</div>
</div>
<div class="row">
	<div class="col-9 offset-2">
{%- for row in state|batch(4, '&nbsp;') %}
  <div class="col-3">
  {%- for column in row %}
    <p>{{ column.name }}</p>
  {#{% if column.id|int == 52|int %}#}
  	
  {#{% endif %}#}
    
  {%- endfor %}
  </div>
{%- endfor %}
</div>
</div>
{% endblock %}