<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('rest.index') }}"><img src="/static/img/eaterific_nav.png"></a>
      <!-- <a class="navbar-brand" href="#">Eaterific</a> -->
    </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
        <li><a href="#"><img src="{{ current_user.avatar }}"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.screen_name }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('users.user_profile') }}">profile</a></li>
            <li><a href="{{ url_for('users.user_settings') }}">settings</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
          </ul>
        </li>
        {% else %}         
          <li><a href="{{ url_for('users.login') }}">Login</a></li>
          <li><a href="{{ url_for('users.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



