{% from "base/_helper_macro.html" import render_field %}
{% if request.endpoint.endswith('login') %}
{% elif request.endpoint.endswith('register') %}
{% elif request.endpoint.endswith('profile') %}
      {% else %}
<div class="form-group row">
  <div class="col-sm-12 d-flex justify-content-center">
      <form action="{{ url_for('rest.search_bar') }}" method="POST">
        {{ form.csrf_token }}
        <label class="sr-only">Where to eat</label>
        {{ render_field(form.search, class="form-control form-control-lg", placeholder="Enter your address, city, or zip", size="60") }}
        {{ form.submit(class="btn btn-success input-lg") }}
      </form>
  </div>
</div>
{% endif %}