<form class="navbar-form navbar-left search">
  <div class="form-group">
    <label class="sr-only">Search</label>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-map-marker"></i>
      </span>
      <input type="text" class="form-control input-lg" placeholder="City">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only">Where to eat</label>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-cutlery"></i>
      </span>
      <input type="password" class="form-control input-lg" placeholder="What do you want to eat?">
    </div>
  </div>
  <button type="submit" class="btn btn-success input-lg"><i class="fa fa-search fa-2x"></i> </button>
</form>